<h1>{{title}}</h1>

<form class="k-form">
    <fieldset>
        <legend>User Details</legend>

        <label class="k-form-field">
            <span>First Name</span>
            <input class="k-textbox" placeholder="Your Name" [(ngModel)]="Name" required />
        </label>
        <label class="k-form-field">
            <span>Last Name</span>
            <input class="k-textbox" placeholder="Your Last Name" [(ngModel)]="LastName" />
        </label>
        <label class="k-form-field">
            <span>Select country</span>
              <kendo-dropdownlist [data]="info"
                  [filterable]="true"
                  (filterChange)="filterChange($event)"
                  (selectionChange)="selectionChange($event)"
                  [(ngModel)]="Test">
              </kendo-dropdownlist>
        </label>

        <label class="k-form-field">
            <span>Important</span>
                <kendo-switch
                    [(ngModel)]="IsImportant"
                ></kendo-switch>
        </label>


    </fieldset>
    <div>
      <button kendoButton (click)="onSaveClick()" [primary]="true">My Kendo UI Button</button>
      <button kendoButton (click)="onCancelClick()">Cancel</button>
    </div>
</form>