<h1>{{title}}</h1>

<form class="k-form">
    <fieldset>
        <legend>User Details</legend>

        <label class="k-form-field">
            <span>First Name</span>
            <input class="k-textbox" placeholder="Your Name" />
        </label>
        <label class="k-form-field">
            <span>Last Name</span>
            <input class="k-textbox" placeholder="Your Last Name" />
        </label>
        <label class="k-form-field">
            <span>Select country</span>
              <kendo-dropdownlist [data]="source"
                  [filterable]="true"
                  (filterChange)="filterChange($event)"
                  (selectionChange)="selectionChange($event)">
              </kendo-dropdownlist>
        </label>
    </fieldset>
    <div>
      <button kendoButton (click)="onSaveClick()" [primary]="true">My Kendo UI Button</button>
      <button kendoButton (click)="onCancelClick()">Cancel</button>
    </div>
</form>