<h1>{{title}}</h1>

<form class="k-form" [formGroup]="myForm" novalidate (ngSubmit)="save(myForm)">
    <fieldset>
        <legend>User Details</legend>

        <label class="k-form-field">
            <span>First Name</span>
            <input class="k-textbox" placeholder="Your Name" formControlName="Name"/>
        </label>
        <label class="k-form-field">
            <span>Last Name</span>
            <input class="k-textbox" placeholder="Your Last Name" formControlName="LastName" />
        </label>
        <label class="k-form-field">
            <span>Select country</span>
              <kendo-dropdownlist [data]="info"
                  [filterable]="true"
                  (filterChange)="filterChange($event)"
                  (selectionChange)="selectionChange($event)"
                    [textField]="'Name'"
                    [valueField]="'Id'"
                  formControlName="Country">
              </kendo-dropdownlist>
        </label>

        <label class="k-form-field">
            <span>Age</span>
            <kendo-numerictextbox
                [min]="0" [max]="100" [autoCorrect]=false formControlName="Age">
            </kendo-numerictextbox>
        </label>


        <label class="k-form-field">
            <span>Good Mood</span>
            <kendo-switch
                formControlName="IsMoodGood"
                [onLabel]="'YES'"
                [offLabel]="'NO'"
            ></kendo-switch>
        </label>

        <kendo-upload required
            [restrictions]="myRestrictions"
            [autoUpload]="false"
            formControlName="Files"
            (upload)="uploadEventHandler($event)">
          </kendo-upload>

    </fieldset>
    <div>
      <button type="submit" kendoButton [primary]=true [disabled]="!myForm.valid">Submit</button>
    </div>
</form>